@model crud2.OrdenCompra.Domain.Entidades.OrdenCompra

@{
    ViewData["Title"] = "Crear Orden";
}
<h1>@ViewData["Title"]</h1>
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="ProveedorId" class="form-label"></label>
        <input asp-for="ProveedorId" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="MontoTotal" class="form-label"></label>
        <input asp-for="MontoTotal" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Comentarios" class="form-label"></label>
        <textarea asp-for="Comentarios" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
