@model crud2.Models.Institucion

@{
    ViewData["Title"] = "Eliminar Institución";
}

<h2>Eliminar Institución</h2>

<h3>¿Está seguro que desea eliminar esta institución?</h3>

<div>
    <h4>Institución</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>
        
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>
        
        <dt class="col-sm-2">Sigla</dt>
        <dd class="col-sm-10">@Model.Sigla</dd>
        
        <dt class="col-sm-2">Ubicación</dt>
        <dd class="col-sm-10">@Model.Ubicacion</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    <a asp-controller="Instituciones" asp-action="Index">Cancelar</a>
</form>
