@model crud2.OrdenCompra.Domain.Entidades.Proveedor
@{
    ViewData["Title"] = "Eliminar Proveedor";
}
<h1>@ViewData["Title"]</h1>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ProveedorId" />
    <p>¿Seguro que quieres eliminar este proveedor?</p>
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
